In [1]:
import pandas as pd

In [3]:
# load the data from csv to pandas dataframe
provider = pd.read_csv("data/Train-1542865627584.csv")
beneficiary = pd.read_csv("data/Train_Beneficiarydata-1542865627584.csv")
inpatient = pd.read_csv("data/Train_Inpatientdata-1542865627584.csv")
outpatient = pd.read_csv("data/Train_Outpatientdata-1542865627584.csv")

In [5]:
display(provider.head())
display(beneficiary.head())
display(inpatient.head())
display(outpatient.head())

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [4]:
display(provider.shape)
display(beneficiary.shape)
display(inpatient.shape)
display(outpatient.shape)

(5410, 2)

(138556, 25)

(40474, 30)

(517737, 27)

In [5]:
# union/concat the inpatient and outpatient data
concat_df=pd.concat([inpatient, outpatient],axis=0)
concat_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [6]:
merge_bene_df=concat_df.merge(beneficiary, on='BeneID', how='left')
merge_bene_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,1,2,1,1,36000,3204,60,70
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,1,2,1,1,36000,3204,60,70
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,1,1,2,2,1,1,5000,1068,250,320
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,1,2,1,2,2,2,21260,2136,120,100

In [7]:
merge_provider_df=merge_bene_df.merge(provider, on = 'Provider', how ='left')
merge_provider_df

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,2,1,1,36000,3204,60,70,Yes
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,2,1,1,36000,3204,60,70,No
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,2,1,1,36000,3204,60,70,No
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,1,2,2,1,1,5000,1068,250,320,No
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,2,1,2,2,2,21260,2136,120,100,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558206,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558207,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558208,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558209,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558210,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,NaN,...,1,2,2,1,2,0,0,5470,1870,No

In [8]:
'''Export merged raw data to csv'''
from pathlib import Path
# merged_raw_path = Path('../project2/merged_raw.csv')
# merge_provider_df.to_csv(merged_raw_path, index=False)

In [9]:
merge_provider_df.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'DOB', 'DOD', 'Gender', 'Race',
       'RenalDiseaseIndicator', 'State', 'County', 'NoOfMonths_PartACov',
       'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'PotentialFraud'],
      dtype='object')

In [124]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
class DateTransform(BaseEstimator, TransformerMixin):
    # initializer 
    def __init__(self, start, end, newColumn):
        # save the features list internally in the class
        self.start = start
        self.end = end
        self.newColumn = newColumn
    
    def fit(self, X, y=None):
        return self
      
    def transform(self, X, y=None):
        X[self.newColumn] = self.convertDateToPeriod(X, self.start, self.end)
        X[self.newColumn] = X[self.newColumn].fillna(0)
        return X
        
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)    
    
    def convertDateToPeriod(self, df, startDate, endDate):
        return (pd.to_datetime(df[endDate]) - pd.to_datetime(df[startDate])).dt.days + 1

In [27]:
from datetime import date, datetime

class AgeTransform(BaseEstimator, TransformerMixin):
    # initializer 
    def __init__(self, dob, dod, ageColumn, deceasedColumn):
        # save the features list internally in the class
        self.dob = dob
        self.dod = dod
        self.ageColumn = ageColumn
        self.deceasedColumn = deceasedColumn
    
    def fit(self, X, y=None):
        return self
      
    def transform(self, X, y=None):
        X[self.ageColumn] = X.apply(lambda x: self.calculateAge(dob = x[self.dob], dod = x[self.dod], calulationDate = '2009-12-01'), axis = 1)
        X[self.deceasedColumn] = X[self.dod].apply(lambda x : 0 if pd.isna(x) else 1)
        return X
        
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)    
    
    def calculateAge(self, dob, dod, calulationDate):
        born = datetime.strptime(dob, "%Y-%m-%d").date()
        if not pd.isna(dod):
            calulationDate = datetime.strptime(dod, "%Y-%m-%d").date()
        else:
            calulationDate = datetime.strptime(calulationDate, "%Y-%m-%d").date()
        return calulationDate.year - born.year - ((calulationDate.month, calulationDate.day) < (born.month, born.day))

In [30]:
diagnosis_code_columns = ['ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 
           'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10' ]
procedure_code_columns = ['ClmProcedureCode_1', 'ClmProcedureCode_2', 'ClmProcedureCode_3',
       'ClmProcedureCode_4', 'ClmProcedureCode_5', 'ClmProcedureCode_6']

In [66]:
class CodeCountTransform(BaseEstimator, TransformerMixin):
    # initializer 
    def __init__(self, colunmsToCount, newColumn):
        # save the features list internally in the class
        self.colunmsToCount = colunmsToCount
        self.newColumn = newColumn
        
    def fit(self, X, y=None):
        return self
      
    def transform(self, X, y=None):
        X[self.newColumn] = self.countCodeNumber(X, self.colunmsToCount)
        return X
        
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)    
    
    def countCodeNumber(self, df, colunmsToCount):
        df_codes = df.loc[:, colunmsToCount]
        codecount = df_codes.notnull().sum(axis=1)
        return codecount

In [83]:
class CodeFrequencyGroupTransform(BaseEstimator, TransformerMixin):
    '''code_columns: the column list containing the claim codes
       new_column: list of new_columns
       '''
    def __init__(self, code_columns, new_columns_prefix, high, medium_high, medium, low):
        # save the features list internally in the class
        self.code_columns = code_columns
        self.new_columns_prefix = new_columns_prefix
        self.high = high
        self.medium_high = medium_high
        self.medium = medium
        self.low = low
    
    def fit(self, X, y=None):
        self.frequency_counts = self.getTotalCodeCounts(X, self.code_columns)
        self.frequency_groups = self.getFrequencyGroups(self.frequency_counts, self.high, self.medium_high, 
                                                        self.medium, self.low)
        
    def transform(self, X, y=None):
        X[self.new_columns_prefix+'HighFreqCount'] = self.codeForfrequencyGroupCounts(X, self.code_columns, self.frequency_groups[0])
        X[self.new_columns_prefix+'MediumHighFreqCount'] = self.codeForfrequencyGroupCounts(X, self.code_columns, self.frequency_groups[1])
        X[self.new_columns_prefix+'MediumFreqCount'] = self.codeForfrequencyGroupCounts(X, self.code_columns, self.frequency_groups[2])
        X[self.new_columns_prefix+'LowFreqCount'] = self.codeForfrequencyGroupCounts(X, self.code_columns, self.frequency_groups[3])
        X[self.new_columns_prefix+'RareFreqCount'] = self.codeForfrequencyGroupCounts(X, self.code_columns, self.frequency_groups[4])
        return X
        
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)    
    
    def mergeDictionaryWithUpdate(self, dict_1, dict_2):
        for key in dict_2:
            value = dict_2[key]
       
            if key not in dict_1:
                dict_1[key] = value
            else:
                old_value = int(dict_1[key])
                dict_1[key] = old_value + value
        return dict_1    
    
    '''Get total counts of each code'''
    def getTotalCodeCounts(self, df, columns):
        code_counts = {}
        for column in columns:
            value_counts = df[column].value_counts().to_dict()
            code_counts = self.mergeDictionaryWithUpdate(code_counts, value_counts)
        sorted_counts = dict(sorted(code_counts.items(), key=lambda item: item[1], reverse=True))
        return sorted_counts  
    
    def getFrequencyGroups(self, dictionary, high, medium_high, medium, low):
        high_frequency = []
        medium_high_frequency = []
        medium_frequency = []
        low_fequency = []
        rare_frequency = []
        for key in dictionary:
            value = dictionary[key]
            if value >= high:
                high_frequency.append(key)
            elif value < high and value >= medium_high:
                medium_high_frequency.append(key)
            elif value < medium_high and value >= medium:
                medium_frequency.append(key)
            elif value < medium and value >= low:
                low_fequency.append(key)
            else:
                rare_frequency.append(key)
        results = []
        results.extend((high_frequency, medium_high_frequency, medium_frequency, low_fequency, rare_frequency))
        return results

    def codeForfrequencyGroupCounts(self, df, columns, frequency_group):
        df_codes = df.loc[:, columns]
        codecount = df_codes.isin(frequency_group).sum(axis=1)
        return codecount

In [98]:
class Top15OneHotTransform(BaseEstimator, TransformerMixin):
    def __init__(self, column_list, top_15_codes, new_column_prefix):
        self.column_list = column_list
        self.top_15_codes = top_15_codes
        self.new_column_prefix = new_column_prefix
        self.codes_df = pd.DataFrame()
    
    def fit(self, X, y=None):
        #change codes not in top15 with 'Other'
        codes_df = X[self.column_list]
        for column in self.column_list:
            codes_df[column] =  codes_df[column].apply(lambda x : 'Other' if x not in self.top_15_codes else x )
        self.codes_df = codes_df    
        
    def transform(self, X, y=None):
        for code in self.top_15_codes:
            column_name = self.new_column_prefix + code
            X[column_name] = self.codeForNHotCounts(self.codes_df, self.column_list, code)
        return X
        
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)  
    
    def codeForNHotCounts(self, df, columns, code):
        df_codes = df.loc[:, columns]
        codecount = (df_codes==code).sum(axis=1)
        return codecount

In [ ]:
# import category_encoders as ce
# class TargetCodingTransform(BaseEstimator, TransformerMixin):
#     def __init__(self, column_list, new_column):
#         self.column_list = column_list
#         self.new_column = new_column
#         self.codes_df = pd.DataFrame()
    
#     def fit(self, X, y=None):
#         #Change NA to -9999 and change PotentialFraud to 0/1
#         codes_df = X[self.column_list]
#         for column in self.column_list:
#             codes_df[column] = codes_df[column].apply(lambda x: '-9999' if pd.isna(x) else x)
#         codes_df['PotentialFraud'] = X['PotentialFraud'].apply(lambda x: 1 if x == 'Yes' else 0)     
#         self.codes_df = codes_df
        
        
#     def transform(self, X, y=None):
        
#         return X
        
#     def fit_transform(self, X, y=None):
#         self.fit(X)
#         return self.transform(X)

In [142]:
class ProviderLevelAggregateTransform(BaseEstimator, TransformerMixin):
    def __init__(self, fraction_column_list):
        self.fraction_column_list = fraction_column_list
    
    def fit(self, X, y=None):
        #change codes not in top15 with 'Other'
        return self 
        
    def transform(self, X, y=None):
        agg_df = pd.DataFrame()
        
        agg_df = X.groupby('Provider').agg(     MedianAge = ('Age', 'median'),
                                                MeanInscClaimAmtReimbursed = ('InscClaimAmtReimbursed', 'mean'),
                                                MaxInscClaimAmtReimbursed = ('InscClaimAmtReimbursed', 'max'),
                                                TotalInscClaimAmtReimbursed = ('InscClaimAmtReimbursed', 'sum'),
                                                MeanDeductibleAmtPaid = ('DeductibleAmtPaid', 'mean'),
                                                MaxDeductibleAmtPaid = ('DeductibleAmtPaid', 'max'),
                                                MeanNumMonth_PartACov = ('NoOfMonths_PartACov','mean'),
                                                MeanNumMonth_PartBCov = ('NoOfMonths_PartBCov','mean'),
                                                MeanOPAnnualReimbursementAmt = ('OPAnnualReimbursementAmt', 'mean'),
                                                MaxOPAnnualReimbursementAmt = ('OPAnnualReimbursementAmt', 'max'),
                                                TotalOPAnnualReimbursementAmt = ('OPAnnualReimbursementAmt', 'sum'),
                                                MeanOPAnnualDeductibleAmt = ('OPAnnualDeductibleAmt', 'mean'),
                                                MaxOPAnnualDeductibleAmt = ('OPAnnualDeductibleAmt', 'max'),
                                                TotalOPAnnualDeductibleAmt = ('OPAnnualDeductibleAmt', 'sum'),
                                                MeanClaimPeriods = ('ClaimPeriod', 'mean'),
                                                MaxHospitalDays = ('HospitalDays', 'max'), 
                                                MedianHospitalDays = ('HospitalDays', 'median'),
                                                MeanHospitalDays = ('HospitalDays', 'mean'),
                                                MaxDiagCodeNumPerClaim = ('DiagCodeCounts', 'max'),
                                                MeanDiagCodeNumPerClaim = ('DiagCodeCounts', 'mean'),
                                                MaxProcCodeNumPerClaim = ('ProcCodeCounts', 'max'),
                                                MeanProcCodeNumPerClaim = ('ProcCodeCounts', 'mean'),
                                                TotalDiagCodeNum = ('DiagCodeCounts', 'sum'),
                                                TotalProcCodeNum = ('ProcCodeCounts', 'sum'),
                                                MeanHighFreqDiagCodeNumPerClaim = ('ClmDiagHighFreqCount', 'mean'),
                                                MeanMediumHighFreqDiagCodeNumPerClaim = ('ClmDiagMediumHighFreqCount', 'mean'),
                                                MeanMediumFreqDiagCodeNumPerClaim = ('ClmDiagMediumFreqCount', 'mean'),
                                                MeanLowFreqDiagCodeNumPerClaim = ('ClmDiagLowFreqCount', 'mean'),
                                                MeanRareFreqDiagCodeNumPerClaim = ('ClmDiagRareFreqCount', 'mean'),
                                                TotalHighFreqProcCodeNumPerClaim = ('ClmProcHighFreqCount', 'sum'),
                                                TotalMediumHighFreqProcCodeNumPerClaim = ('ClmProcMediumHighFreqCount', 'sum'),
                                                TotalMediumFreqProcCodeNumPerClaim = ('ClmProcMediumFreqCount', 'sum'),
                                                TotalLowFreqProcCodeNumPerClaim = ('ClmProcLowFreqCount', 'sum'),
                                                TotalRareFreqProcCodeNumPerClaim = ('ClmProcRareFreqCount', 'sum'),
                                                totalDiagCode_4019 = ('DiagCode_4019', 'sum'),      
                                                totalDiagCode_25000 = ('DiagCode_25000','sum'),
                                                totalDiagCode_2724 = ('DiagCode_2724', 'sum'),
                                                totalDiagCode_V5869 = ('DiagCode_V5869', 'sum'),
                                                totalDiagCode_4011 = ('DiagCode_4011', 'sum'),
                                                totalDiagCode_42731 =  ('DiagCode_42731', 'sum'),
                                                totalDiagCode_V5861 = ('DiagCode_V5861', 'sum'),
                                                totalDiagCode_2720 = ('DiagCode_2720', 'sum'),
                                                totalDiagCode_2449 = ('DiagCode_2449', 'sum'),
                                                totalDiagCode_4280 = ('DiagCode_4280', 'sum'),
                                                totalDiagCode_53081 = ('DiagCode_53081', 'sum'),
                                                totalDiagCode_41401 = ('DiagCode_41401', 'sum'),
                                                totalDiagCode_496 = ('DiagCode_496', 'sum'),
                                                totalDiagCode_2589 = ('DiagCode_2859', 'sum'),
                                                totalDiagCode_41400 = ('DiagCode_41400', 'sum'),
                                                totalDiagCode_Other = ('DiagCode_Other', 'sum'),
                                                totalProcCode_4019 = ('ProcCode_4019.0', 'sum'),
                                                totalProcCode_9904 = ('ProcCode_9904.0', 'sum'),
                                                totalProcCode_2724 = ('ProcCode_2724.0', 'sum'),
                                                totalProcCode_8154 = ('ProcCode_8154.0', 'sum'),
                                                totalProcCode_66 = ('ProcCode_66.0', 'sum'),
                                                totalProcCode_3893 = ('ProcCode_3893.0', 'sum'),
                                                totalProcCode_3995 = ('ProcCode_3995.0', 'sum'),
                                                totalProcCode_4516 = ('ProcCode_4516.0', 'sum'),
                                                totalProcCode_3722 = ('ProcCode_3722.0', 'sum'),
                                                totalProcCode_8151 = ('ProcCode_8151.0', 'sum'),
                                                totalProcCode_8872 = ('ProcCode_8872.0', 'sum'),
                                                totalProcCode_9671 = ('ProcCode_9671.0', 'sum'),
                                                totalProcCode_4513 = ('ProcCode_4513.0', 'sum'),
                                                totalProcCode_5849 = ('ProcCode_5849.0', 'sum'),
                                                totalProcCode_9390 = ('ProcCode_9390.0', 'sum'),
                                                totalProcCode_Other = ('ProcCode_Other', 'sum'))
        # Caculate aggregted fraction 
        for column in self.fraction_column_list:
            new_colunm = column + 'Frac_'
            agg_df[new_colunm] = (X.groupby('Provider').apply(lambda x: (x[column] == 1).sum()/x[column].count())).values                             
        
        # Total Claims per provider
        agg_df['ClaimNumbers'] = (X.groupby('Provider')[['ClaimID']].count()).values
        agg_df['uniqBeneCount'] = (X.groupby('Provider')[['BeneID']].nunique()).values
                                           
        return agg_df
        
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)

In [88]:
train_top_15_diag_codes = ['4019', '25000', '2724', 'V5869', '4011', '42731', 'V5861', '2720', '2449',
 '4280', '53081', '41401', '496', '2859', '41400', 'Other']
train_top_15_proc_codes = ['4019.0', '9904.0', '2724.0', '8154.0', '66.0', '3893.0', '3995.0', '4516.0',
 '3722.0', '8151.0', '8872.0', '9671.0','4513.0','5849.0', '9390.0', 'Other']

In [129]:
fraction_column_list= ['ChronicCond_Alzheimer','ChronicCond_Heartfailure','ChronicCond_KidneyDisease','ChronicCond_Cancer',
'ChronicCond_ObstrPulmonary','ChronicCond_Depression','ChronicCond_Diabetes','ChronicCond_IschemicHeart','ChronicCond_Osteoporasis',
'ChronicCond_rheumatoidarthritis','ChronicCond_stroke', 'RenalDiseaseIndicator', 'Deceased', 'Gender', 'Race']

In [ ]:
steps = [('claim_period_transform', DateTransform(start='ClaimStartDt', end='ClaimEndDt', newColumn='ClaimPeriod')), 
         ('hospital_period_transform', DateTransform(start='AdmissionDt', end='DischargeDt', newColumn='HospitalDays')),
         ('age_transform', AgeTransform(dob='DOB', dod='DOD', ageColumn='Age', deceasedColumn='Deceased')),
         ('diag_code_count', CodeCountTransform(colunmsToCount = diagnosis_code_columns, newColumn='DiagCodeCounts')),
         ('proc_code_count', CodeCountTransform(colunmsToCount = procedure_code_columns, newColumn='ProcCodeCounts')),
         ('diag_code_frequency_group', CodeFrequencyGroupTransform(code_columns=diagnosis_code_columns, new_columns_prefix='ClmDiag',
                                                                  high=10000, medium_high=5000, medium=800, low=500)),
         ('proc_code_frequency_group', CodeFrequencyGroupTransform(code_columns=procedure_code_columns, new_columns_prefix='ClmProc',
                                                                  high=500, medium_high=100, medium=10, low=5)),
         ('diag_code_top15_onehot', Top15OneHotTransform(column_list=diagnosis_code_columns, top_15_codes=train_top_15_diag_codes,
                                                         new_column_prefix='DiagCode_')),
         ('proc_code_top15_onehot', Top15OneHotTransform(column_list=procedure_code_columns, top_15_codes=train_top_15_proc_codes,
                                                         new_column_prefix='ProcCode_')),
         ('aggregation', ProviderLevelAggregateTransform(fraction_column_list=fraction_column_list))]

pipe = Pipeline(steps)
pipe.fit_transform(merge_provider_df)

/var/folders/4r/5r7tbtx178l60wyz85w2n3l4l0q0z9/T/ipykernel_1398/4251918558.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codes_df[column] =  codes_df[column].apply(lambda x : 'Other' if x not in self.top_15_codes else x )
/var/folders/4r/5r7tbtx178l60wyz85w2n3l4l0q0z9/T/ipykernel_1398/4251918558.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codes_df[column] =  codes_df[column].apply(lambda x : 'Other' if x not in self.top_15_codes else x )

In [ ]:
drop_column_list = []

In [141]:
merge_provider_df.groupby('Provider')[['BeneID']].nunique()

          BeneID
Provider
PRV51001      24
PRV51003     117
PRV51004     138
PRV51005     495
PRV51007      58
...          ...
PRV57759      24
PRV57760       9
PRV57761      67
PRV57762       1
PRV57763      70

[5410 rows x 1 columns]